.alert{
    display: inline-block;
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.alert.network-online{
    background-color: rgb(52, 165, 42);
}
.alert.network-offline{
    background-color: rgb(165, 42, 42);
}